.layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
}

.main-content {
  flex: 1;
  margin-left: 25%;
  width: 75%;
  min-height: 100vh;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    width: 100%;
  }
}

